h1 {
  color: #6002ee;
}

h2 {
  color: #d602ee;
}

em {
  color: #ee6002;
}

button {
  background: lightgrey;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 8px 10px;
}

input {
  background: #efe5fd;
  border: 1px solid #b794f6;
  border-radius: 5px;
  color: #7e3ff2;
}

input:focus {
  outline: none;
  border: 1px solid #6002ee;
}

.btn-primary {
  background: #7e3ff2;
  border: 1px solid #7e3ff2;
  color: #efe5fd;
}

.btn-secondary {
  background: transparent;
  border: 1px solid #7e3ff2;
  color: #7e3ff2;
}

#textInput {
  background: #f2fde4;
}

#searchInput {
  background: #fae4fc;
}

#numberInput {
  background: #fff2df;
}
